@import "/src/base.css";

.listContainer{
    margin: 0 42px 0 42px;
}

.backButtonMedia{
    color: var(--color-font-base);
    font-weight: bold;
    cursor: pointer;
    margin-top: 15px;
    font-size: 24px;
}

.charInfo{
    display: flex;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
}

.avatarChar{
    width: 108px;
    margin-right: 15px;
}
