@import "base.css";

.container{
  width: var(--width-base);
  margin-right: auto;
  margin-left: auto;
}

footer{
  height: 12px;
  margin-top: 16px;
  background-color: var(--red-color-base);
}

nav{
  margin: 20px 42px 0 42px;
  display: flex;
  justify-content: space-between;
}

.spanFirstTitle{
  color: var(--color-font-base);
  font-size: 27px;
  font-weight: bold;
}
.spanFirstTitleSub{
  color: var(--color-font-base);
  font-size: 27px;
  font-weight: lighter;
}

.spanMyName{
  color: var(--color-font-base);
  font-size: 27px;
  font-weight: lighter;
}

@media (max-width: 360px) {
    .container{
    width: var(--width-mobile-base);
    margin-right: auto;
    margin-left: auto;
  }

  nav{
    margin: 12px 24px 0 24px;
    display: flex;
    justify-content: space-between;
  }

  .spanFirstTitle{
    color: var(--color-font-base);
    font-size: 16px;
    font-weight: bold;
  }

  .spanFirstTitleSub{
    color: var(--color-font-base);
    font-size: 16px;
    font-weight: lighter;
  }

  .spanMyName{
    display: none;
    color: var(--color-font-base);
    font-size: 16px;
    font-weight: lighter;
  }


}

